In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
from nltk.tokenize import TweetTokenizer
from nltk.corpus import stopwords, words
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
import nltk
from wordcloud import WordCloud
from textblob import TextBlob
import zipfile
import os, re

In [3]:
path = r'C:\Users\Jchukwuedozi\Documents\data science\datasets\deep learning'

In [4]:
with zipfile.ZipFile(os.path.join(path, 'Twitter sentiment (NLP).zip')) as zip_file:
    with zip_file.open('dataset.csv') as csv_file:
        tweets = pd.read_csv(csv_file)

In [5]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 937854 entries, 0 to 937853
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Text      937854 non-null  object
 1   Language  937831 non-null  object
 2   Label     937854 non-null  object
dtypes: object(3)
memory usage: 21.5+ MB

In [6]:
tweets.head()

                                                Text Language      Label
0  @Charlie_Corley @Kristine1G @amyklobuchar @Sty...       en  litigious
1  #BadBunny: Como dos gotas de agua: Joven se di...       es   negative
2  https://t.co/YJNiO0p1JV Flagstar Bank disclose...       en  litigious
3  Rwanda is set to host the headquarters of Unit...       en   positive
4  OOPS. I typed her name incorrectly (today’s br...       en  litigious